@model LOBP.Models.ApplicationRatio
@{
    ViewBag.Title = "Application Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <header class="panel-heading panel-border">
                            <h3 class="text-primary"> Application List </h3>
                            <div class="pull-right">
                                <div class="row">
                                    <div class="panel short-states" style="background-color:#eaeef3; margin-right:30px; margin-top:-30px">
                                        <div class="panel-title">
                                        </div>
                                        <div class="panel-body">
                                            <div><span class="col-md-offset-1 text-danger" style="font-size:50px">@TempData["totalapplication"]</span></div>
                                            <small class="label label-danger" style="font-size:15px">Total Application Request</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2">

                                    <div class="input-group">

                                        <div class="input-group-addon" style="background-color:orange"><i class="fa fa-calendar"></i></div>
                                        <div><input type="date" class="min form-control" id="min" autocomplete="off" name="min" placeholder="From" /></div>
                                    </div>
                                </div><div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-addon" style="background-color:yellowgreen"><i class="fa fa-calendar"></i></div>
                                        <div><input type="date" class="maxdate form-control" id="maxdate" autocomplete="off" name="maxdate" placeholder="TO" /></div>
                                        <div class="input-group-addon" style="background-color:red">
                                            <button id="searchdate" class="glyphicon glyphicon-search" style="margin-left:-4px; background-color:red; margin-top:-10px; border:none"></button>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-addon" style="background-color:darkred">
                                            <span class="glyphicon glyphicon-home"></span>
                                        </div>
                                        <div><input id="companyname" name="companyname" placeholder="search by company name" class="form-control companyname" /></div>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <input type="button" class="btn btn-success" id="all" name="all" value="Show All Record" />
                                </div>
                            </div>
                            <div style="margin-top:-20px" class="col-md-12">
                                <table class="table table-striped table-bordered table-responsive applicationreport " style="font-size:small">
                                    <thead>
                                        <tr>
                                            <th><strong>ApplicationID</strong>
                                            <th><strong>Status</strong></th>
                                            <th><strong>Category</strong></th>
                                            <th><strong>Company Email</strong></th>
                                            <th><strong>Company Name</strong> </th>
                                            <th><strong>Storage Capacity</strong> </th>
                                            <th><strong>Issued Date</strong> </th>
                                            <th><strong>Expiry Date</strong> </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div></div></div>
    <div class="jumbotron">
        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        <div id="container1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    </div>
</div>
            @section Scripts {

                <script type="text/javascript">

                    $(document).ready(function () {
                        $("#all").click(function () {                            
                            table.search("All Company").draw();                          
                        });
                        
                        $("#searchdate").click(function () {
                            min1 = $(".min").val();
                            datemax1 = $(".maxdate").val();
                            table.draw();
                        });

                        var table = $(".applicationreport").DataTable({
                            "processing": true,
                            "serverSide": true,
                            //"search": { "search": "Default_filter" },
                            ajax: {
                                url: "/Admin/GetApplicationReport",
                                data: function (d) {
                                    d.mymin = $("#min").val();
                                    d.mymax = $("#maxdate").val();
                                },
                                type: "POST",
                                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                            },
                            //sDom: 'Blrtip',
                            dom: 'Blfrtip',
                            columns: [
                                { data: "ApplicationId" }, { data: "Status" }, { data: "category" }, { data: "ApplicantUserId" }, { data: "ApplicantName" }, { data: "capacity" }, { data: "issueddate", }, { data: "expirydate", },
                            ],

                        });
                        $.getJSON("/Admin/GetApplicationChart", function (data) {
                            table.draw();
                            table.ajax.reload();
                            Highcharts.chart('container', {
                                chart: {
                                    plotBackgroundColor: null,
                                    plotBorderWidth: null,
                                    plotShadow: false,
                                    type: 'pie'

                                },
                                title: {
                                    text: 'Application Chart Ratio'
                                },                             
                                plotOptions: {
                                    pie: {
                                        allowPointSelect: true,
                                        cursor: 'pointer',
                                        dataLabels: {
                                            enabled: true,
                                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                            style: {
                                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                            }
                                        }
                                    }
                                },
                                series: [{
                                    name: 'Total',
                                    colorByPoint: true,
                                    data: [{ name: 'Total Request', y: data.totalapplication },
                                    { name: 'Completed', y: data.CompleteApplication },
                                    { name: 'Pending', y: data.UnCompleteApplication },
                                    ],
                                    exporting: true
                                }]

                            });

                            var chart2 = Highcharts.chart({
                                chart: {
                                    renderTo: 'container1',
                                    type: 'column',
                                    margin: 75,
                                    options3d: {
                                        enabled: true,
                                        alpha: 15,
                                        beta: 15,
                                        depth: 50,
                                        viewDistance: 25
                                    },                                  
                                },                               
                                xAxis: {
                                    categories: ['Total Application','Completed Application', 'UnCompleted Application']
                                },
                                plotOptions: {
                                    column: {
                                        depth: 25
                                    }
                                },
                                series: [{
                                    name: 'Ratio',
                                    colorByPoint: true,
                                    data: [
                                        [data.totalapplication],
                                        [data.CompleteApplication],
                                        [data.UnCompleteApplication],                            
                                    ]
                                }]
                            });


                        });




                        $(".companyname").autocomplete({
                            source: function (request, response) {
                                debugger;
                                $.ajax({
                                    url: '/Admin/GetCompanyNameAutoSearch',
                                    type: "GET",
                                    datatype: "json",
                                    data: {
                                        term: request.term
                                    },
                                    success: function (data) {
                                        response($.map(data,
                                            function (val, item) {

                                                return {

                                                    label: val.textvalue,
                                                    value: val.textvalue,
                                                    companyname: val.textvalue,


                                                }

                                            }));

                                    }

                                });
                            },

                            select: function (event, ui) {
                                debugger;
                                $(".companyname").val(ui.item.companyname);
                                var textvalue = $(".companyname").val();
                                table.search(this.value).draw();
                                table.draw();
                            }
                        });





                        //$(".min,.maxdate").datetimepicker({
                        //    minDate: 0,
                        //    step: 1,
                        //    autoclose: true,
                        //    daysOfWeekDisabled: [0, 6],
                        //    onGenerate: function (ct) {
                        //        jQuery(this).find('.xdsoft_date.xdsoft_weekend')
                        //            .addClass('xdsoft_disabled');
                        //    },
                        //    onSelect: function (selected_date) {
                        //    }
                        //});





                    });
               </script>
            }

































                              
                                    

                               

                               
                                    
                               
                               
                                   

                                
                                
                                   

                                
                               
                                   


                                
                               
                                  


                               


                            


                       