@model LOBP.DbEntities.ApplicationRequest

@{
    ViewBag.Title = "Give Value List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
    <div class="row" style="margin-top:-24px">
        <div class="pageTitle bg1">
            <h3 class="lefty">Give Value</h3>
            <div class="clear"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped givevalue" id="givevalue" style="font-size:small">
                <thead>
                    <tr>
                        <th><strong>Application Ref</strong>
                        <th><strong>Company Name</strong> </th>
                        <th><strong>License Type</strong></th>
                        <th><strong>Application Type</strong> </th>
                        <th><strong>Company Email</strong> </th>
                        <th style="width:8px"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
    <div style="display:none" id="loadingImage">
        <div id="load" style="width: 100%; height: 100%; top:0; left:0; position:fixed; display:block; opacity:0.7; background-color:#fff; z-index:99; text-align:center">
            <img id="loading-image" style="position:absolute; top:100px; left:50%; z-index:100" src="~/Images/spinning.gif" />
        </div>
    </div>
</div>
    @section Scripts {

        <script type="text/javascript">
            $(document).ready(function () {
                var table = $(".givevalue").DataTable({
                    "processing": true,
                    "serverSide": true,
                    ajax: {
                        url: "/Admin/GetGiveValue",
                        type: "POST",
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],

                    },
                    dom: 'Blfrtip',
                    columns: [
                        { data: "ApplicationId" }, { data: "ApplicantName" }, { data: "LicenseTypeId" }, { data: "ApplicationTypeId", }, { data: "ApplicantUserId", },
                    ],
                    "columnDefs": [
                        {
                            "targets": 5,
                            "data": null,
                            "defaultContent":
                                '<button id="Givevalue" class="btn btn-xs btn-success payment"><span class="glyphicon glyphicon-transfer"></span> Give Value</button>'
                        }
                    ]
                });
                $('#givevalue').on('click', 'button', function () {
                    debugger;
                    var answer = confirm("Are You Want to Give Value?");
                    if (answer === true) {
                        $("#loadingImage").show('fast');
                        var data = table.row($(this).parents('tr')).data();
                        var appid = data.ApplicationId;
                        $.post("/Admin/GiveValue", { Appid: appid }, function (result) {
                            if (result.Status === "success") {
                                $("#loadingImage").hide('fast');
                                alert("Value Was Successfully Given to Application With the Reference No. " + "(" + appid + ")");
                                window.location.href = "/Admin/GiveValueList";
                            } else { $("#loadingImage").hide('fast'); alert("Something Went Wrong!!!"); }
                        });
                    } else {
                        return false;
                    }
                });
            });
        </script>
    }


