@model LOBP.DbEntities.ApplicationRequest

@{
    /**/

    ViewBag.Title = "Non Printed License";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="row" style="margin-top:-24px">
        <div class="pageTitle bg1">
            <h3 class="lefty">Non Printed Licenses</h3>
            <div class="clear"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped printedlicense" id="printedlicense" style="font-size:small">
                <thead>
                    <tr>
                        <th><strong>Application Ref</strong>
                        <th><strong>License Reference</strong>
                        <th><strong>Company Name</strong> </th>
                        <th><strong>License/Permit Type</strong></th>
                        <th><strong>Application Type</strong> </th>
                        <th><strong>Description</strong> </th>
                        <th><strong>Company Email</strong> </th>
                        <th><strong>Applied Date</strong> </th>
                        <th><strong>Issue Date</strong> </th>
                        <th><strong>Expiry Date</strong> </th>
                        <th style="width:8px"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
    <div style="display:none" id="loadingImage">
        <div id="load" style="width: 100%; height: 100%; top:0; left:0; position:fixed; display:block; opacity:0.7; background-color:#fff; z-index:99; text-align:center">
            <img id="loading-image" style="position:absolute; top:100px; left:50%; z-index:100" src="~/Images/spinning.gif" />
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.media.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.metadata.js")"></script>
    <script type="text/javascript">
       
        $(document).ready(function () {
            var table = $(".printedlicense").DataTable({
                "processing": true,
                "serverSide": true,
                ajax: {
                    url: "/Admin/GetNonPrintedLicense",
                    type: "POST",
                    "lengthMenu": [[25, 50, 100, 200], [25, 50, 100, 200]],

                },
                dom: 'Blfrtip',
                columns: [
                    { data: "ApplicationId"},
                    { data: "LicenseReference"},
                    { data: "ApplicantName"},
                    { data: "LicenseTypeId"},
                    { data: "ApplicationTypeId"},
                    { data: "description"},
                    { data: "ApplicantUserId"},
                    { data: "AppliedDate"},
                    { data: "IssuedDate"},
                    { data: "ExpiryDate"},
                    {
                        "render": function (data, type, row) {
                            if (row.LicenseTypeCode != "PT") {
                                return "<button class='btn-xs btn-success' onclick=\"ViewPermit('" + row['ApplicationId'] + '|' + row['LicenseTypeId'] + '|' + row['takeoverappid'] + "')\"> Download </button>";
                            } else { return ''; }
                        }
                    }
                ],
                "columnDefs": [
                    {
                        "targets": 6,
                    }
                ]
            });

        });

        function ViewPermit(appdetails) {
            debugger;

            var split = appdetails.split("|");

            if (split[1] === "SSA") {
                window.open('/Admin/ViewSUI/' + split[0], '_blank');
            }
            else if (split[1] === "PTE") {
                window.open('/Admin/ViewPTE/' + split[0], '_blank');
            }
            else if (split[1] === "ATC") {
                window.open('/Admin/ViewATC/' + split[0], '_blank');
            }

            else if (split[1] === "LTO") {
                window.open('/Admin/ViewLTO/' + split[0], '_blank');
            }
            else if (split[1] === "LTOLFP") {
                window.open('/Admin/ViewLTOLFP/' + split[0], '_blank');
            }
            else if (split[1] === "ATCLFP") {
                window.open('/Admin/ViewATCLFP/' + split[0], '_blank');
            }
            else if (split[1] === "ATM") {
                window.open('/Admin/ViewATCMOD/' + split[0], '_blank');
            }
            else if (split[1] === "ATO") {
                window.open('/Admin/ViewTO/' + split[0], '_blank');
            }
        }
    </script>
}


