@{
    ViewBag.Title = "FAQS - DPR LOBP";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    var baseUrl = Request.Url.GetLeftPart(UriPartial.Authority);
}

<div class="row">
    <div class="pageTitle bg1">
        <h2 class="lefty">FAQs</h2>
        <div class="righty">

        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="marg25">
    <div class="og-tab">
        <div class="sidebar">
            <div class="tab">
                <a href="#faq-67" role="tab">General</a>
            </div>
        </div>
        <div class="tabcontent">
            <div id="faq-67" class="pane">
                <h4></h4>



                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-1" data-toggle="collapse" data-parent="#accordion">01. What is My Account?                                               </a>
                            </h4>
                        </div>
                        <div id="Col-1" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p style="margin-left: 20px;">	   We've made it easy for you to view and update your account and orders any time through<br>	           "My Account". "My Account" allows you complete control over your transactions at LOBP You can:</p><ul>	<li>manage/edit all your personal data like address, phone numbers, email ids</li>	<li>change your password</li>	<li>track the status of your applications</li></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-29" data-toggle="collapse" data-parent="#accordion">01. What is LOBP?                                                    </a>
                            </h4>
                        </div>
                        <div id="Col-29" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	   The LOBP Portal is an Internet-based application that provides access to Oil and Gas Industry Service Permit (LOBP) applications, instructions and education.  It allows for online application compilation and submission, online application fee payment and online submission tracking.</p><p>	 <span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-30" data-toggle="collapse" data-parent="#accordion">02. What is it for?                                                   </a>
                            </h4>
                        </div>
                        <div id="Col-30" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	<span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">it is for application submission and processing. All registered companies providing services in the oil and gas industry must  apply or renew their permit through this portal.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-31" data-toggle="collapse" data-parent="#accordion">03. Who is it For?                                                    </a>
                            </h4>
                        </div>
                        <div id="Col-31" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	<span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">The platform is for  companies who intend or are  servicing the oil and Gas industry</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-32" data-toggle="collapse" data-parent="#accordion">04. How do I renew my existing permit?                                </a>
                            </h4>
                        </div>
                        <div id="Col-32" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	<span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">login or to your account at LOBP.dpr.gov.ng</span></p><p>	 <span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;"><br>	 </span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-33" data-toggle="collapse" data-parent="#accordion">05. Is my existing permit still valid in the new system?              </a>
                            </h4>
                        </div>
                        <div id="Col-33" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	 <span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Yes if permit has not expired, however, you need to recertify your permit online for free</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-34" data-toggle="collapse" data-parent="#accordion">06. Has DPR increased the cost of Permits?                            </a>
                            </h4>
                        </div>
                        <div id="Col-34" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	<span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">No, permits are charged at the same offline rates except for the introduction of service charge</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-35" data-toggle="collapse" data-parent="#accordion">07. How long will it take to be issued an Oil and Gas Industry Permit?</a>
                            </h4>
                        </div>
                        <div id="Col-35" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	 <span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">For General and Major Category, it take a maximum of 72 hours (3 working days) after payment confirmation. For Specialized, processing may take longer.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-36" data-toggle="collapse" data-parent="#accordion">08.How do I know when my application has been processed?              </a>
                            </h4>
                        </div>
                        <div id="Col-36" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	 When your application has been processed, you should receive  notification from the permitting Division. If at any time you would  like to check the status of your application submission, please sign in  to the portal and click on the Application(s) Under-Processing. This  will display all your permit applications and the current status of  those applications.  Please keep in mind that your portal history will  only contain those permit applications submitted online.  As such, a  status will only be available for those permit applications submitted  online.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-37" data-toggle="collapse" data-parent="#accordion">09. I do not have all of the information for the section that I am wor</a>
                            </h4>
                        </div>
                        <div id="Col-37" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	 In short, yes.  The LOBP Portal is designed to check for all  required responses before you submit the application online.  Until  then, the application is in draft form from when you first open the  online application until you finalize and submit online.  This allows  you to move between the sections and answer questions in the manner that  is appropriate to you.  Please note, the section labels will show Green  (all ok), yellow (have not started yet) and red (there is a problem)  for the sections as you work the online application.  Additionally,  required fields are indicated with an asterisk.  You may work with your  draft(s) in any order that you feel is appropriate.  When you are ready  to submit, you will be prompted to review each section.  As the sections  pass (go green), you will be able to continue to the next steps of the  online submission process.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-38" data-toggle="collapse" data-parent="#accordion">09. I do not remember my LOBP Portal password. What can i do?        </a>
                            </h4>
                        </div>
                        <div id="Col-38" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	   If you have forgotten your LOBP Portal password, you may have it  reset by clicking the FORGOT PASSWORD? link before the login button.  The reset password link will be sent to you  automatically by the Portal.  You may  change your password by clicking the Change Password button on your dashboard right after  you have logged in.  Follow the on-screen prompts to change your  password.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-39" data-toggle="collapse" data-parent="#accordion">10. I registered an account now, but i can not log in.                </a>
                            </h4>
                        </div>
                        <div id="Col-39" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	     The LOBP Portal requires that you verify your  email prior to logging in.  When you register, the system automatically  sends an email to the address that you have designated during  registration.  You must open your email, access the message sent by the  LOBP Portal and validate the account by clicking on the link  presented in the email message.  Once this has been done, you will be  able to log into the Portal.</p><p>	     If you have not received an email from the LOBP Portal (LOBP@dpr.gov.ng) ,  please check your spam or junk mail folder.  If your email system utilizes filters  or other constraints on incoming emails, please take a moment to add LOBP@dpr.gov.ng<a href="mailto:epwebadmin@doh.hawaii.gov"></a> to your address book or approved senders list.</p><p>	 You can also do the following:</p><ul>	<li><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">click on</span><strong style="font-style: inherit; font-variant: inherit; background-color: initial;"> resend activation email</strong><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;"> link on the right side of the page.</span></li>	<li><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Enter your email address in the field and clicck on the send button.</span></li>	<li><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">If you still do not get the reference mail after 20 minutes,</span></li>	<li><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Send a mail to LOBP@dpr.gov.ng with subject (Manual Email Activation)</span></li></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-40" data-toggle="collapse" data-parent="#accordion">11. How do I apply for a permit on the portal?                        </a>
                            </h4>
                        </div>
                        <div id="Col-40" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <ol>	<li>If you do not have one already, you must create a company      account on the LOBP Portal by clicking <a href="https://elam.cityofmadison.com/citizenaccess/accountegisterDisclaimer.aspx">'Register for an Account'</a> on the tab in the left column of the home page. <br>	<strong>A Valid e-mail address is required to register and you must validate your email address to complete registration</strong> </li>	<li>Once you 'Login'  to your      account, click on Apply Now on the dashboard and select the appropriate permit for your need. </li>	<li>Follow the Onscreen instruction to complete your application. </li></ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-41" data-toggle="collapse" data-parent="#accordion"> How do I apply for a new permit?                                     </a>
                            </h4>
                        </div>
                        <div id="Col-41" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	 <em style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">To apply for a permit, log into your company account by putting in your username and password</em></p><p>	 <em>Click on Apply now on you user dashboard</em></p><p>	 <em>The application form load, and lets you select the category, services,job specifications, and provide other information.</em></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-42" data-toggle="collapse" data-parent="#accordion">12. What document do I need to upload while applying for my permit?   </a>
                            </h4>
                        </div>
                        <div id="Col-42" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	<em style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">The document required for application strictly depend on the category of permit been applied for. However, in total, five document are important for application processing</em></p><ul>	<p>		    ·<em>Corporate Affairs Commission Certificate of Incorporation</em>	</p>	<p>		    ·<em>Memorandum of understanding</em>	</p>	<p>		    ·<em>Corporate Affairs Commission form either 2.0 or 2.2 or 2.3 or 2.7 or 7</em>	</p>	<p>		    ·<em>Tax Clearance</em>	</p>	<p>		    ·<em>List of Equipment</em>	</p></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-43" data-toggle="collapse" data-parent="#accordion">13. My documents are not uploading                                    </a>
                            </h4>
                        </div>
                        <div id="Col-43" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	<em style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">If your documents are not uploading, check the following:</em></p><p>	<em>The file format of you document. The approved formats are PDF documents and JPEG images only.</em></p><p>	<em>The file size must be a maximum of 4 Mb. Any file more than the max size will fail to upload.</em></p><p>	<em>Also, the speed of your internet determines the speed of your upload.</em></p><p>	<em>Lastly, make sure your internet is uninterrupted while uploading a document of filling the forms.</em></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-44" data-toggle="collapse" data-parent="#accordion">14. How do I check the status of my applications?                     </a>
                            </h4>
                        </div>
                        <div id="Col-44" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	 <span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">You can monitor the process of you applications and permit from the counter on your user dashboard. You will also receive email and sms notifications alerting you on the status of your application on each phase of the application to approval process.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-45" data-toggle="collapse" data-parent="#accordion">15. When is my permit due for renewal?                                </a>
                            </h4>
                        </div>
                        <div id="Col-45" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	 <em style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">A permit is valid for 1 years according to DPR guidelines. So your permit should be renewed annually starting from the date of approval.</em></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-46" data-toggle="collapse" data-parent="#accordion">16. What happens if I don’t have all the required documents?          </a>
                            </h4>
                        </div>
                        <div id="Col-46" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	 <em style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">You need to have all the required documents for the category of permits you are applying for.</em></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-47" data-toggle="collapse" data-parent="#accordion">17. Can I apply for more than one permit category at once?            </a>
                            </h4>
                        </div>
                        <div id="Col-47" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	 <em style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Yes, you can apply for as many permits with your account as possible. Just click the on the Start another application after concluding one application.</em></p><p>	 <em>Or you can simply start afresh by clicking the Apply now link on the User dashboard.</em></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-48" data-toggle="collapse" data-parent="#accordion">18. How do I change my company information on the LOBP system?       </a>
                            </h4>
                        </div>
                        <div id="Col-48" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <ol>	<li><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;"></span><em style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Log into the LOBP account</em></li>	<li><em style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Click on company profile on your user dashboard</em></li>	<li><em style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Edit information as desired</em></li></ol><p>	Please note that you cannot make changes to you company profile until you have paid for at least on e permit</p><p>	You also cannot make changes to information such as (Company name, Registration number, and Tax Identification Number).</p><p>	To effect this changes, send a mail to LOBP@dpr.gov.ng requesting a change, stating the reason for the change.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-49" data-toggle="collapse" data-parent="#accordion">  What’s the difference between address and operational base?         </a>
                            </h4>
                        </div>
                        <div id="Col-49" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	<em style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">After entering you company name during registration, you can’t simply change it, for security and privacy reasons. To Correct this issue,</em></p><p>	<em>You can send a correction request to the LOBP support center of LOBP through  any of the channels below:</em></p><p>	<em>Email: </em><a href="mailto:LOBPcare@LOBP.dpr.gov.com"><em>LOBPcare@LOBP.dpr.gov.com</em></a></p><p>	<em>Telephone: 234(01)904-4000</em></p><p>	<em>Chat with any support personnel online at www.LOBP.dpr.gov.ng</em></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-50" data-toggle="collapse" data-parent="#accordion">19. How do I renew my permits online?                                 </a>
                            </h4>
                        </div>
                        <div id="Col-50" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	 <span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Existing permit holders are required to log into their account area to renew their expiring permit or submit application for renewal.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-51" data-toggle="collapse" data-parent="#accordion">20. How can my permits be verified?                                   </a>
                            </h4>
                        </div>
                        <div id="Col-51" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	<em>To verify your permit, Enter the LOBP system or click </em><a href="http://LOBP.dpr.gov.ng/"><em>http://LOBP.dpr.gov.ng</em></a></p><p>	<em>Click on the verify permit button</em></p><p>	<em>Enter your permit number and click verify.</em></p><p>	<em>If your permit is valid, you should get a notification.</em></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-52" data-toggle="collapse" data-parent="#accordion">21. My permits cannot be verified, what do I do?                      </a>
                            </h4>
                        </div>
                        <div id="Col-52" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	<em style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Only permit number copied correctly will be available for verification on the portal. an incorrect or non-existing number cannot be verified through the portal.</em></p><p>	<em>Ensure you type the number in the format </em></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-53" data-toggle="collapse" data-parent="#accordion">22. How safe is the online payment.                                   </a>
                            </h4>
                        </div>
                        <div id="Col-53" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	 <em style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Yes, it is safe to pay for your permit online. DPR does not save your payment information. All communication between our server the  applicant computer is encrypted to ensure maximum security of the transmitted information.</em></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-55" data-toggle="collapse" data-parent="#accordion">24. My online payment is unsuccessful, what do I do now?              </a>
                            </h4>
                        </div>
                        <div id="Col-55" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	 <em style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Please check and confirm your debit card information is accurate, Check if there is sufficient funds in your account for the transaction to be complete and, lastly confirm that you are still connected to the portal. If all these are okay, then try again .</em></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-56" data-toggle="collapse" data-parent="#accordion">25. I made payment but my application won’t continue. What can i do?  </a>
                            </h4>
                        </div>
                        <div id="Col-56" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	 <span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Most likely, the payment has not being posted by the bank. You are advised to exercise some patience, confirm the payment status with the bank, then contact our support center if you still have issues resolving your payment.</span></p><p>	<strong></strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-57" data-toggle="collapse" data-parent="#accordion">26. How do I get the Hard copy of my Permit?                          </a>
                            </h4>
                        </div>
                        <div id="Col-57" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	<em style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">You can get the printed copy of your permit. After your Permit has been approved and you have been notified, </em></p><ul>	<li><em style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Log-in to your account area</em></li>	<li><em style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Click on "Total Permits"</em></li>	<li><em style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Select the Permit to be printed</em></li>	<li><em style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Click on Download permit to view and print respectively.</em></li></ul><p>	<em>NOTE: You can print your permit as many times as you desire.</em></p><p>	<em> <br>	</em></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-58" data-toggle="collapse" data-parent="#accordion">27. Accessing User support                                            </a>
                            </h4>
                        </div>
                        <div id="Col-58" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	<span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">visit www.LOBP.dpr.gov.ng to chat with any of our support personnel ,</span><em style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;"> send us an email at LOBP@dpr.gov.ng or Call the helpdesk on: +234(01)904-4000</em></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-59" data-toggle="collapse" data-parent="#accordion">28. Can I pay with Cheque at the bank                                 </a>
                            </h4>
                        </div>
                        <div id="Col-59" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	   No. You cannot pay for permit applications with cheque. You can only pay with cash.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-60" data-toggle="collapse" data-parent="#accordion">29. Can i use online transfer to make payment?                        </a>
                            </h4>
                        </div>
                        <div id="Col-60" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	  No. You can not make payment for permit Application with online transfer.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-61" data-toggle="collapse" data-parent="#accordion">30. How Can I Re-submit a Rejected Application?                       </a>
                            </h4>
                        </div>
                        <div id="Col-61" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	   First, you re-upload document</p><p>	   To upload your document, please log into the LOBP sytem with your Username and Password,</p><ul>	<li><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Click on document library and select the document you wish to upload.</span></li>	<li><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Please ensure to refresh the page whenever you make any changes.</span></li>	<li><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Once you are done uploading the document, click on "applications" to view you pending and rejected application</span></li>	<li><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Select the rejected application and click on continue.</span></li>	<li><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Make relevant changes if applicable, then click on "resubmit".</span></li></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-62" data-toggle="collapse" data-parent="#accordion">31. Bank can not identify my reference no for payment. What do i do?  </a>
                            </h4>
                        </div>
                        <div id="Col-62" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	     If your application reference cannot be identified, this means it has not been activated for payment.</p><p>	     To activate your payment please ensure you do the following:</p><ul>	<li><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Select the bank payment option on the payment page and click continue.</span></li>	<li><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Click continue on the payment summary page again</span></li>	<li><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Then go to the bank with the reference number for payment.</span></li></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#Col-63" data-toggle="collapse" data-parent="#accordion">32. I did not get an activation mail, what should I do?               </a>
                            </h4>
                        </div>
                        <div id="Col-63" class="panel-collapse collapse in">
                            <div class="panel-body " style="white-space: pre-line">
                                <p>	<span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">To recieve a new activation please follow the instruction bellow:</span></p><ul>	<li><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Visit the LOBP Website on https://lobp.dpr.gov.ng</span></li>	<li><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">click on</span><strong style="font-style: inherit; font-variant: inherit; background-color: initial;"> resend activation email</strong><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;"> link on the right side of the page.</span></li>	<li><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Enter your email address in the field and clicck on the send button.</span></li>	<li><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">If you still do not get the reference mail after 20 minutes,</span></li>	<li><span style="font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; background-color: initial;">Send a mail to lobp@dpr.gov.ng with subject (Manual Email Activation)</span></li></ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

</div>





